.container-inputs{

    padding: 3rem;
    height: 90vh;
    width: 100%;
    background-color: #6c0808;
    
}

.image-login{
    width: 100%;
    height: 49vw;
    /* background-image: url('../assets/img/joker.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
     */
}

.image-login img{
    width: 100%;
    height: 100%;
}
