
.linha-principal{
    display: flex;
    justify-content: center !important;
}

.text-label{
    color: #fff;

}

.container-form{
    /* background-color: #b71c1c; */
    border-radius: 25px;
    padding: 25px
}

.MuiTypography-body1{
    color: #fff
}